
/* Color */
$white: #fff;
$black: #3a4a66;
$black2:#67778c;
$blue:#00aaff;
$darkgrey:#f4f6fa;
$blackopcity: rgba(58 , 74 , 102 , 0.5);
$lite: #e5f6ff;
$blue2:#0af;
$blue3:#03abfe;
$light-green:#46de7a;
$lite-2 : #eaeaea;
$lite-3:#e8ebf0;
$lite-4:#f1f3f9;
$lite-5:#d0d4dd;
$lite-6:#dbedfa;
$pink : #ff0073;
$border-color:#d1d7e4;
$border-color-2 :#e8eef9;
$yellow:#ffa40c;

$pink2:#de4682;

 
/* Font Typo */
$primary-font:'Assistant';

/*media query variable*/
$leptop: 1399px;
$mini-leptop : 1199px;
$tablet : 991px;
$mobile: 767px;
